<form class="new_message" id="new_message" action="/messages" accept-charset="UTF-8" method="post">
  <div class="form-group">
    <label for="exampleInputName2">名前</label>
    <input type="text" class="form-control" id="exampleInputName2">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">内容</label>
    <input type="email" class="form-control" id="exampleInputEmail2">
  </div>
<button type="submit" class="btn btn-primary">Create Message</button>  
</form>
